* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
    background: linear-gradient(45deg, #2c3e50, #3498db),
                url('guru.jpg'); /* Set the background image */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
}

.container {
    background-color: #ecf0f1;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.title {
    font-size: 1.3rem;
    color: #f48c36;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 2rem;
    color: #9b59b6;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    border: 2px solid #34495e;
    border-radius: 5px;
    padding: 5px;
    color: #2c3e50;
}

span#tip-percentage-display {
    color: #34495e;
}
